<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>My Modules</title>
<link type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<link type="text/css" href="../css/style.css" >
</head>

<body class="color1">
    <header id="header">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="fluid-container">
                <ul class="nav navbar-nav">
					<li><a href="profile.php">Profile</a></li>
					<li><a class="active" href="profile.php">My Modules</a></li>
					<li><a href="profile.php">Events</a></li>
                </ul>
                </div>
            	<div class="navbar-right">
                	<ul class="nav navbar-nav">
                        <li><a href="logOut.php">Log Out</a></li>
					</ul>
             	</div>
          	</nav>        
   		</header>
                    
</body>
</html>
